export('analyzeBases')
export('analyzeBasesPlotOnly')
import('SummarizedExperiment')
import('VariantAnnotation')
import('Rsamtools')
import('grDevices')
import('GenomicRanges')
import('IRanges')
import('Biostrings')
